.App {
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.col-md-12.section2header {

  height: 25vh;
  background-color: green;
 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.section2{
height: 
background-color: red;
overflow-x: hidden;
overflow-y: scroll;
}

.text-content{

  height: 25vh;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-header{
  font-size: 32px;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-description{
  font-size: 18px;
  height: 150px;
  background-color:orange;
  display: flex;
  justify-content: center;
  align-items: center;

}


.imagesection{

  position: relative;
  font-family: Arial;
  height: 55vh;
  background-color: orange;
  width: 86%;
  display: flex;
  
  
  justify-content:space-between;
  align-items: center;
  


}





.imagepart{
  display: flex;
  justify-content: center;
  background-color: blue;
}

.text-block {
  position: fixed;
  height: 250px;
  padding: 15px;
  right: 500px;
  background-color: black;
  color: white;
  width: 500px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
